{
    "transparent": false,
    "frame": null,
    "splash": "./loader.css",
    "chromeFlags": ["simple-flag", ["advanced-flag", "with user value"]],
    "pluginPath": "global plugin path overwrite, see docs for details. Default %/plugins",
    "debug": false,
    "splash": "./customsplash.css"
}
